body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-104px;
  width:1253px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1253px;
  height:142px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:97px;
  width:1253px;
  height:142px;
  display:flex;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#8898AA;
  text-align:left;
}
#u1397 .text {
  position:absolute;
  align-self:flex-start;
  padding:24px 2px 2px 24px;
  box-sizing:border-box;
  width:100%;
}
#u1397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:118px;
  width:187px;
  height:19px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u1398 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:845px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:173px;
  width:845px;
  height:36px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#555555;
}
#u1399 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:279px;
  width:135px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u1400 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 251, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 229, 143, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:388px;
  width:460px;
  height:112px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1402 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 24px 16px 62px;
  box-sizing:border-box;
  width:100%;
}
#u1402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:406px;
  width:24px;
  height:26px;
  display:flex;
  font-family:'anticon ', 'anticon';
  font-weight:400;
  font-style:normal;
  font-size:52px;
  color:#FAAD14;
}
#u1403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:319px;
  width:0px;
  height:0px;
}
#u1404_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:130px;
}
#u1404_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:120px;
  width:81px;
  height:10px;
}
#u1404_seg2 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:115px;
  width:20px;
  height:20px;
}
#u1404_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:92px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
